@use '../variables' as *;
@use '../mixins' as *;

.painel {
    @include doFlex(column, stretch, stretch, $spacing-5);
}

.section {
    @include doFlex(column, stretch, stretch, $spacing-3);
    
    ul.section-items {
        @include doFlex(row, flex-start, center, $spacing-2);
        list-style-type: none;
    
        li.section-item {
            @include doFlex(column, center, center);
            width: 100px; height: 100px;
            border-radius: $spacing-1;
            background: $color-accent;

            cursor: pointer;
        }
    }
}
