$spacing-1: .25em;
$spacing-2: .5em;
$spacing-3: 1em;
$spacing-4: 1.5em;
$spacing-5: 3em;

$color-primary: #4A9782;
$color-dark-primary: #004030;
$color-accent: #DCD0A8;
$color-secondary: #3B38A0;
$color-light: #FFF9E5;

$color-white: #fff;
$color-black: #000;

$color-lightgray: #c3c3c3;